# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Django
*.log
db.sqlite3
media/



# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.local
.env.production

# Node / Frontend
node_modules/
frontend/.vite/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini
